@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

.header {
width: 100%;
background-color: #ffffff;
border-bottom: 2px solid #ddd;
}
.header-container {
display: flex;
}

.header-container {
  max-width: 1200px; /* limitar ancho máximo */
  height: 80px; /* altura compacta */
  margin: 0 auto; /* centrar contenido horizontalmente */
  display: flex;
  align-items: center; /* centrar verticalmente */
  justify-content: space-between; /* espacio entre elementos */
}


.Barra-navegacion {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);

  display: flex;
  align-items: right;
  gap: 40px; /* gap-10 */

  font-size: 18px;
  font-weight: 700;
  font-family: 'Manrope', Bold;
  color: #0E534A;
}

.Barra-navegacion a {
  text-decoration: none;
  color: #0E534A;
  font-weight: 700;
}
.Barra-navegacion a:hover {
  color: #FBB854; 
}

.btn-header {
  padding: 13px 55px;
  background-color: #0E534A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}